body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    color: #ff7e75;
    padding: 20px;
    border-bottom: 2px solid #000;
}

header .b1 img {
    max-width: 100px;
    
}

header h1 {
    margin: 10px 0;
}

header a {
    text-decoration: none;
    color: #000;
}

header a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.lewy, .prawy {
    width: 45%;
}

.lewy h3{
    text-align: center;
}

.prawy ul{
    text-align: right;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    color: #fff;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid #000;
    margin-top: 20px;
}

#wynik {
    font-weight: bold;
    display: block;
    margin-top: 20px;
    text-align: center;
}
